.form-wrapper{
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;

  margin: 15px 35px;

  font-size: 12px;
}


.video-upload-wrapper{
  height: 130px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  background-color: #F1F1F1;
}