.side-bar{
  display: flex;
  border-right: 1px solid #CCCCCC;
  height: calc(100vh - 50px);
  
  background-color: #fff;
  /* max-width: 280px; */
}

.tool-cont{
  width: 50px;
  height: 100%;
  border-right: 1px solid #CCCCCC;
  /* background-color: red; */
  padding: 20px 0px;

  display: flex;
  justify-content: center;
}
.tool-spread{
  flex: 1;
  height: 100%;
  /* background-color: blue; */
}